rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    
    // Carpeta de facturas
    match /facturas/{proveedorId}/{type}/{fileName} {
      // Permitir lectura a usuarios autenticados
      allow read: if request.auth != null;
      
      // Permitir escritura (temporal para desarrollo)
      allow write: if true;
    }
    
    // Carpeta de proveedores
    match /proveedores/{proveedorId}/{folder}/{fileName} {
      // Permitir lectura a usuarios autenticados
      allow read: if request.auth != null;
      
      // Permitir escritura (temporal para desarrollo)
      allow write: if true;
    }
    
    // Permitir todo temporalmente (SOLO DESARROLLO)
    match /{allPaths=**} {
      allow read, write: if true;
    }
  }
}
